.social-icons {
  z-index: 1;
}

.social-icon-dark {
  color: var(--icon-main) !important;
}

.social-icon-dark:hover {
  color: var(--icon-secondary) !important;
}

#github {
  padding-left: 10px;
  padding-right: 5px
}

#linkedin {
  padding-left: 5px;
  padding-right: 10px;
}
