a {
  text-decoration: none;
}

#facebook {
  border-bottom: 2px solid #4267b2;
}

#tableau {
  border-bottom: 2px solid #4e79a7;
}

#salesforce {
  border-bottom: 2px solid #17a0db;
}

#motorola {
  border-bottom: 2px solid black;
}

#caterpillar {
  border-bottom: 2px solid #d5b60a;
}

#ameren {
  border-bottom: 2px solid #35962b;
}

.navbar-root {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  z-index: 1;
}

.navbar-right-container {
  margin-left: auto;
}

.navbar-right-container > * {
  margin-left: 10px;
}

.navbar-right-container > *:first-child {
  margin-left: 0px;
}