.skills-root {
  background-color: #f2f2f2;
  padding-bottom: 5%;
}

.tech-icon-root {
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

.tech-title {
  padding-right: 2%;
}

.tech-label {
  margin: 0;
}
