@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-background: #172a45;
  --secondary: #8892b0;
  --white: ghostwhite;
  --icon-main: rgb(23, 42, 69);
  --icon-secondary: #c0c0c0;
}